.AsideStyle {
    color: rgb(36, 50, 174);
}

.carousel-image{
    height: 500px;
    width: 825px;
}
.wallpaper{
    background-color: rgb(154, 238, 255);
}
.wallfond{
    background-color: rgb(198, 224, 253);
}
.Pais{
    background-color: rgb(198, 224, 253);
    color: rgb(36, 50, 174);
    border: 2.75px solid #2432AE;
    ;
}
.Pais::placeholder {
    color: rgb(114, 120, 175);
}
.Pais:focus{
    background-color: rgb(198, 224, 253);
    color: rgb(36, 50, 174);
    border: 2.75px solid #2432AE;

}