.footerStyle{
    background: black;
    color: white;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    margin-top: 20px;
}

.carousel-image {
    height: 450px;
    width: 825px;
}

.Letra{
    color: black;
}

.Letra2{
    color: white;
}

.Letra3{
    color: #7ddfea;
}

.dropdown-button-color {
    background-color: skyblue;
    border-color: skyblue;
}
